<div class="row">
    <div class="col-md-8">
        <h1>
            @ViewData["Heading"]
        </h1>
    </div>
    <div class="col-md-4">
        <a href="/dashboard">Dashboard</a> 
        <a href="/logout">Log Out</a>
    </div>
</div>