<h1>Register</h1>
@Html.ValidationSummary()
<br/>
@model User
<form action="/" method="POST">
    <label asp-for="FirstName"></label><br/>
    <input asp-for="FirstName"/><br/><br/>
    <label asp-for="LastName"></label><br/>
    <input asp-for="LastName"/><br/><br/>
    <label asp-for="Email"></label><br/>
    <input asp-for="Email"/><br/><br/>
    <label asp-for="Password"></label><br/>
    <input asp-for="Password" /><br/><br/>
    <label asp-for="Confirm"></label><br/>
    <input asp-for="Confirm" /><br/><br/>
    <input type="submit" value="Register" />
</form>